<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include(`./layout`) %> 
    <div>
    <h1><%= title %></h1>
    <form>
        <div class=form-group> 
            <label for=name> Name</label>
            <input id=name name=name type=text required=true >
        </div>
    </form>
    </div>
  </body>
</html>