<nav>
    <div>
        <ul class=nav-ul>
          <li class=li-elements><a href=/ >Home</a></li>  
          <li class=li-elements><a href=/catalog/games > Games</a></li>  
          <li class=li-elements><a href=/catalog/categories> Categories</a></li>
          <li class=li-elements><a href=/catalog/plataforms> Plataforms</a></li>   
          <li class=li-elements><a href=/catalog/games/create >Add Games</a></li>  
          <li class=li-elements><a href=/catalog/categories/create >Add Category</a></li>  
          <li class=li-elements><a href=/catalog/plataforms/create >Add Plataform</a></li>  
        </ul>
    </div>
  </nav>
  