<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include(`./layout`) %> 
    <h1>test</h1>  
    <div>
        <form method=POST action="">
      <input type=file name="image" id="image">
    </div>    
        
<button type=submit>Submit</button>
</form>
    
    </div>
  </body>
</html>